
:root{
  --color:#ffffff;
  --bgcolor:#18181b;
  --main : #eaeaeabb;
  --paragraphe : #111111b1;
  --body :var(--color);
  --border: #18181b ;
   --copybg: #ffffff;
    --colorbg:#000000;
      --span : #caa25a;
}

.dark-mode {
  --color: #1f2125;
  --bgcolor: white;
  --main: black;
  --paragraphe: #ffffff;
  --body :#1f2125;
  --border:#18181b;
  --copybg:#18181b;
  --colorbg:#ffffff;
    --span : #caa25a;

}
body{
  background-color: var(--body);
}
*{
  margin: 0;
  padding:0;
}

.navbar {
 background-color: var(--main) ;
display: flex;
justify-content: space-around;
 padding: 16px 10px;

}
.nav-link{
margin: 30px;
  color: var(--bgcolor);
  text-decoration: none;
  font-size: 1em;
  font-weight: bolder;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.nav-link:hover{
  text-decoration-line: underline;
}

 .cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px;


}
.card h1{
    color: var(--bgcolor);
}
.card{
  flex: 0 0 calc(33.333% - 20px); 
  background-color: var(--color);
  border-radius: 16px;
border: 1px solid var(--bgcolor);
  overflow: hidden;
  text-align: center;
  padding: 15px;
  transition: all 0.3s ease;

}
.card img{
  
 width: 50%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;

}
.card h3{
   font-size: 1.2rem;
  color:var(--bgcolor);
  margin: 10px 0 5px;
}
.card p{
  font-size: 0.95rem;
  color: var(--paragraphe);
  line-height: 1.3;
  height: 36px;
  overflow: hidden;
}
.card span{
display: inline-block;
  
  font-weight: bold;
  color: var(--span);
  font-size: 1.1rem;
  
  margin-top: 10px;
}
.card button{
 margin-top: 15px;
  background-color:var(--bgcolor);
  color: var(--color);
  border: none;
  border-radius: 5px;
  padding: 10px 120px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  font-size:0.8em;
  margin-bottom: 10px;


}

/*-----------la partie de footer ----------- */
.footer{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
 gap: 20px;
 padding: 50px;
 margin-top: 40px;
 background-color: var(--main);
 text-align: center;
 
}
.cpoyright{


  background-color: var(--copybg);
  color: var(--colorbg);
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  

}
.footer h3{
  color: var(--bgcolor);
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 800;

}

.footer .About{
  color: var(--bgcolor);
text-align: left;
}
.footer .linkss p{
  color: var(--bgcolor);
 
}
.footer .contacts button{
  border: none;
  padding: 8px;
  margin: 5px;
  background-color: var(--bgcolor);
  color: var(--color);
  font-size: 13px;
  font-weight: 600;
  border-radius: 2px 10px;

}
.footer .contacts button:hover{

   background-color: var(--main);
  color: var(--bgcolor);
  border: 1px solid var(--bgcolor);

}




 
