/* ----------------- VARIABLES (LIGHT & DARK) ----------------- */

:root{
  --color:#ffffff;
  --bgcolor:#18181b;
  --main : #eaeaeabb;
  --paragraphe : #111111b1;
  --body :var(--color);
  --border: #18181b ;
  --copybg: #ffffff;
  --colorbg:#000000;
  --span : #caa25a;
}

.dark-mode {
  --color: #1f2125;
  --bgcolor: white;
  --main: black;
  --paragraphe: #ffffff;
  --body :#1f2125;
  --border:#18181b;
  --copybg:#18181b;
  --colorbg:#ffffff;
  --span : #caa25a;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: var(--body);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* ----------------- NAVBAR ----------------- */

.navbar {
  background-color: var(--main);
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 40px;                 
  padding: 20px 40px;
}

.logoo{
  color: var(--bgcolor);
  font-weight: 800;
  margin-right: auto;        
  
}

.logoo h2{
  font-size: 1.4rem;
}

.navbar1 {
  display: flex;
  align-items: center;
}

.nav-link{
  margin: 0 15px;
  color: var(--bgcolor);
  text-decoration: none;
  font-size: 0.99rem;
  font-weight: bolder;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 10px 15px;
}

.nav-link:hover{
  text-decoration-line: underline;
}

/* ----------------- DARK MODE TOGGLE ----------------- */

.toggle-wrapper {
  display: flex;
  align-items: center;
  margin: 0;             
}

input[type="checkbox"]{
  width: 0;
  height: 0;
  visibility: hidden;
}

.toggle-label{
  width: 60px;
  height: 30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow:
    inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

.toggle-label::after{
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg , #ffcc89,#d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

input[type="checkbox"]:checked + .toggle-label{
  background: #242424;
}

input[type="checkbox"]:checked + .toggle-label::after{
  left: 57px;
  transform: translateX(-100%);
  background: linear-gradient(180deg,#777,#3a3a3a);
}

/* ----------------- CARDS ----------------- */

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px;
}

.card{
  flex: 0 0 calc(33.333% - 20px);
  background-color: var(--color);
  border-radius: 16px;
  border: 1px solid var(--bgcolor);
  overflow: hidden;
  text-align: center;
  padding: 15px;
  transition: all 0.3s ease;
}

.card h1{
  color: var(--bgcolor);
}

.card img{
  width: 50%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.card h3{
  font-size: 1.2rem;
  color:var(--bgcolor);
  margin: 10px 0 5px;
}

.card p{
  font-size: 0.95rem;
  color: var(--paragraphe);
  line-height: 1.3;
  height: 36px;
  overflow: hidden;
}

.card span{
  display: inline-block;
  font-weight: bold;
  color: var(--span);
  font-size: 1.1rem;
  margin-top: 10px;
}

.card button{
  margin-top: 15px;
  background-color:var(--bgcolor);
  color: var(--color);
  border: none;
  border-radius: 5px;
  padding: 10px 120px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  font-size:0.8em;
  margin-bottom: 10px;
}

/* ----------------- FOOTER ----------------- */

.footer{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 20px;
  padding: 50px;
  margin-top: 40px;
  background-color: var(--main);
  text-align: center;
}

.cpoyright{
  background-color: var(--copybg);
  color: var(--colorbg);
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
}

.footer h3{
  color: var(--bgcolor);
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 800;
}

.footer .About{
  color: var(--bgcolor);
  text-align: left;
}

.footer .linkss p{
  color: var(--bgcolor);
}

.footer .contacts button{
  border: none;
  padding: 8px;
  margin: 5px;
  background-color: var(--bgcolor);
  color: var(--color);
  font-size: 13px;
  font-weight: 600;
  border-radius: 2px 10px;
}

.footer .contacts button:hover{
  background-color: var(--main);
  color: var(--bgcolor);
  border: 1px solid var(--bgcolor);
}
/*  shop   */
.shop{
  display: grid;
   grid-template-columns: 70% 30%;
    border: 1px solid #3a3a3a;

}

.shops{
  display: flex;
  justify-content: space-between;
   border: 1px solid #3a3a3a;
  
}
.shop-card{

  display: grid;
  width: 60%;

   grid-template-columns: 45% 50%;
   padding: 10px;
  

}
.title-Article{
  margin-top: 55px;
}
.title-Article h3{
  color: var(--paragraphe);
  font-size: 1.3em;
  font-family: 'Courier New', Courier, monospace;

}
.btn-supprimer{
   background-color: var(--color);
 border: none;
 color: var(--bgcolor);
 font-size: 0.8em;
 border-radius: 5px;
    padding: 9px 10px;
    border: 1px solid var(--bgcolor);
    margin: 5px;
    
    width: 55%;
    margin: auto;
    margin-top: 20px;

}
.prix{

width: 40%;
margin-left: 20px;
margin-top: 60px;
text-align: center;
 color: var(--paragraphe);

}
.mad{
  background-color: var(--color);
 border: none;
 color: var(--bgcolor);
 font-size: 0.8em;
 border-radius: 5px;
     padding: 9px 10px;
    border: 1px solid var(--bgcolor);
    margin: 5px;
    
    width: 55%;
    margin: auto;
    margin-top: 20px;
}

.count{
   background-color: var(--color);
 border: none;
 color: var(--bgcolor);
 font-size: 0.8em;
 border-radius: 5px;
       padding: 9px 10px;
    border: 1px solid var(--bgcolor);
    margin: 5px;
    
    width: 55%;
    margin: auto;
    margin-top: 20px;
    font-size: 1.2em;
}

.count .moin{
  color: var(--span);
  border: 1px solid var(--bgcolor);
  padding: 0px 10px;
   cursor: pointer;
   font-size: 1em;
    font-weight: bold;
 
}
.count .plus{
  color:var(--span);
  border: 1px solid var(--bgcolor);
  padding: 0px 10px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
 
}
.count strong{
  margin: 20px 10px;
}

.mones{

  height: 420px;
  border: 1px solid var(--bgcolor);
}
.mones .title_sum {
  font-size: large;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid var(--bgcolor);
color: var(--paragraphe);

}
.mones .sum{
  display: flex;
  color: var(--paragraphe);
  justify-content: space-around;
  margin: 20px;
}
.check{
  margin: 50px;
 margin-left: 50px;
 padding: 30px 40px;
 font-size: 1.2em;
border: 3px solid var(--span);
 background-color:var(--copybg);

color: var(--bgcolor);
 border-radius: 3px  20px;
 font-weight:400;
  
}
.shopping{
  font-size: large;
  text-align: center;
  padding: 20px;
 
color: var(--paragraphe);
margin-bottom: 10px;
padding-bottom: 100px;


}

.OurStory{

  width: 50%;
  margin: auto;
  margin-top: 40px;
  
}
.OurStory h2{
  color: var(--bgcolor);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
     font-size: 2.4em;
     margin-bottom: 40px;
}
.OurStory p{
  letter-spacing: 1px;
   font-size: 1.1em;
   background-color: #f1f1f1b1;
   padding: 30px;
  box-shadow: 0px 3px 10px rgb(0, 0,0, 0.3);
  border-radius: 40px 70px;


}
.OurCraftsmanship{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.OurVision {
  
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
}
.OurVision img ,.OurCraftsmanship img{
  margin: 10px;
  border-radius: 20px;
  height: 360px;
  
}
.OurVision p ,.OurCraftsmanship p{
  display: flex;
 flex-direction: column;
 justify-content: center;
 padding: 15px;

  letter-spacing: 1px;
   font-size: 1.1em;


  border-radius: 40px;

}
.Values{

 padding-top: 80px;
  display: flex;

  padding-bottom: 80px;
}
.Values h3{
  color: var(--bgcolor);
  text-align: center;
  font-size: 1.6em;
  margin: 15px;
  
}
.Values p{
  color: #3a3a3a;
  width: 90%;
  margin: auto;
}
    