
:root{
  --color:#ffffff;
  --bgcolor:#18181b;
  --main : #eaeaeabb;
  --paragraphe : #111111b1;
}

*{
  margin: 0;
  padding:0;
}

.navbar {
 background-color: var(--main) ;
display: flex;
justify-content: space-around;

 padding: 16px 10px;

}
.nav-link{
margin: 30px;
  color: var(--bgcolor);
  text-decoration: none;
  font-size: 1em;
  font-weight: bolder;
  text-transform: capitalize;
  letter-spacing: 1px;


}
.nav-link:hover{
  text-decoration-line: underline;
 

  

}

 .cards{
display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px;


}
.card h1{
    color: var(--bgcolor);
}
.card{
    background: var(--color);
 

 border: 1px solid var(--bgcolor);
 border-radius: 10px;
  padding: 20px;
  height: 390px;

}
.card img{
  
  width: 100%;
  height: 55%;

}
.card h3{
  color: var(--bgcolor);
  margin-top: 15px;
  font-weight: bold;
}
.card p{
  color:var(--paragraphe) ;
  margin-bottom: 10px;
}
.card span{
 font-weight: bold;
 margin-top: 10px;
}
.card button{

  border: none;
  padding: 10px 25px;
  margin-top: 10px;
  width: 100%;
  color: var(--color);
  background-color: var(--bgcolor);
  font-weight: bold;
  font-size: 0.9em;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 5px;


}

/*-----------la partie de footer ----------- */
.footer{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
 gap: 20px;
 padding: 50px;
 margin-top: 40px;
 background-color: var(--main);
 text-align: center;
 
}
.cpoyright{
   background-color: var(--bgcolor);
  color: var(--color);
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  
}
.footer h3{
  color: var(--bgcolor);
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 800;

}

.footer .About{
  color: var(--bgcolor);
text-align: left;
}
.footer .linkss p{
  color: var(--bgcolor);
 
}
.footer .contacts button{
  border: none;
  padding: 8px;
  margin: 5px;
  background-color: var(--bgcolor);
  color: var(--color);
  font-size: 13px;
  font-weight: 600;
  border-radius: 2px 10px;

}
.footer .contacts button:hover{
   background-color: var(--main);
  color: var(--bgcolor);
  border: 1px solid var(--bgcolor);


}







 
