:root{
  --color:#ffffff;
  --bgcolor:#18181b;
  --main : #eaeaeabb;
  --paragraphe : #111111b1;
  --span : #caa25a;
}
.cardss{
display: grid;
background-color: var(--color);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px;


}
.card1 {
  flex: 0 0 calc(33.333% - 20px); 
  background-color: var(--color);
  border-radius: 16px;
border: 1px solid var(--bgcolor);
  overflow: hidden;
  text-align: center;
  padding: 15px;
  transition: all 0.3s ease;
  
}
.card1 img {
  width: 50%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}
.card1 h3 {
  font-size: 1.2rem;
  color:var(--bgcolor);
  margin: 10px 0 5px;
}
.card1 p {
  font-size: 0.95rem;
  color: var(--paragraphe);
  line-height: 1.3;
  height: 36px;
  overflow: hidden;
}
.card1 span {
  display: inline-block;
  
  font-weight: bold;
  color: var(--span);
  font-size: 1.1rem;
  
  margin-top: 10px;
}
.card1 button {
  margin-top: 15px;
  background-color:var(--bgcolor);
  color: var(--color);
  border: none;
  border-radius: 5px;
  padding: 10px 120px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  font-size:0.8em;
  margin-bottom: 10px;
}

